[alias]
    au = add -v -u
    ci = commit
    cb = checkout --track -b
    sl = stash list
    st = status
    unstage = reset HEAD
    unstash = stash pop

[checkout]
    defaultRemote = origin

[color]
    ui = auto

[column]
    ui = auto

[commit]
    template = ~/.config/git/gitcommit_template

[core]
    autocrlf = input
    excludesfile = ~/.config/git/gitignore_global
    editor = vim
    pager = less
    whitespace = blank-at-eol,space-before-tab,tabwidth=4
    hooksPath = ~/.config/git/hooks

[diff]
    algorithm = minimal
    wsErrorHighlight = new

[fetch]
    parallel = 0

[gui]
    commitMsgWidth = 80
    diffContext = 3

[push]
    default = simple

[user]
    name = "walt"
    email = "waltdevelops@gmail.com"

