!
!   Xresources
!
!   X client application settings
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! xterm
!!!!!!!

! Application Resources
XTerm.keyboardType: sunKeyboard
XTerm.maxBufSize: 65536
XTerm.minBufSize: 1024
XTerm.termName: xterm-256color
XTerm.title: console

