<?xml version="1.0" encoding="UTF-8"?>

<!-- OpenBox menu configuration file -->

<openbox_menu
    xmlns="http://openbox.org/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://openbox.org/
      file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox">
  <item label="Terminal">
    <action name="Execute"><execute>/usr/bin/xterm</execute></action>
  </item>
  <item label="Web Browser">
    <action name="Execute">
      <execute>/etc/alternatives/x-www-browser</execute>
    </action>
  </item>
  <item label="Files">
    <action name="Execute"><execute>/usr/bin/nautilus</execute></action>
  </item>

  <separator/>

  <item label="Document Viewer" 
      icon="/usr/share/icons/Humanity/categories/24/applications-office.svg">
    <action name="Execute">
      <command>
        <![CDATA[evince]]>
      </command>
    </action>
  </item>
  <item label="ImageMagick" icon="/usr/share/pixmaps/display-im6.q16.xpm">
    <action name="Execute">
      <command>
        <![CDATA[/usr/bin/display-im6.q16 -nostdin]]>
      </command>
    </action>
  </item>
  <item label="Htop" icon="/usr/share/pixmaps/htop.png">
    <action name="Execute">
      <command>
        <![CDATA[evte -e htop]]>
      </command>
    </action>
  </item>
  <item label="Power Statistics">
    <action name="Execute">
      <command>
        <![CDATA[gnome-power-statistics]]>
      </command>
    </action>
  </item>
  <menu id="openbox-Settings" label="Settings">
    <item label="About">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center info-overview]]>
        </command>
      </action>
    </item>
    <item label="Applications">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center applications]]>
        </command>
      </action>
    </item>
    <item label="Color">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center color]]>
        </command>
      </action>
    </item>
    <item label="Default Applications">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center default-apps]]>
        </command>
      </action>
    </item>
    <item label="Displays">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center display]]>
        </command>
      </action>
    </item>
    <item label="File History &amp; Trash">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center usage]]>
        </command>
      </action>
    </item>
    <item label="General Settings">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center]]>
        </command>
      </action>
    </item>
    <item label="Keyboard Shortcuts">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center keyboard]]>
        </command>
      </action>
    </item>
    <item label="Mouse &amp; Touchpad">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center mouse]]>
        </command>
      </action>
    </item>
    <item label="Notifications">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center notifications]]>
        </command>
      </action>
    </item>
    <item label="Power">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center power]]>
        </command>
      </action>
    </item>
    <item label="Printers">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center printers]]>
        </command>
      </action>
    </item>
    <item label="Removable Media">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center removable-media]]>
        </command>
      </action>
    </item>
    <item label="Screen Lock">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center lock]]>
        </command>
      </action>
    </item>
    <item label="Search">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center search]]>
        </command>
      </action>
    </item>
    <item label="Sharing">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center sharing]]>
        </command>
      </action>
    </item>
    <item label="Sound">
      <action name="Execute">
        <command>
          <![CDATA[gnome-control-center sound]]>
        </command>
      </action>
    </item>
    <item label="Startup Applications">
      <action name="Execute">
        <command>
          <![CDATA[gnome-session-properties]]>
        </command>
      </action>
    </item>
  </menu>

  <separator/>

  <item label="Help">
    <action name="Execute">
      <command>
        <![CDATA[yelp]]>
      </command>
    </action>
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure"/>
  </item>
  <item label="Restart">
    <action name="Restart"/>
  </item>
  <item label="Exit">
    <action name="Exit"/>
  </item>
</menu>

</openbox_menu>

